.container-home{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh; /* Asegura que el contenedor padre tenga una altura definida */

}

.nav-bar-home{
    width: 15%;
    min-height: 100vh;
    padding: var(--spacing-sm);
    background-color: var(--background-color-2);

    .container-image{
        width: 100%;
        margin-top: var(--spacing-md);
        img{
            width: 100%;
        }
    }

    .container-nav{
        color: var(--color-secondary);
        ul{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: var(--spacing-xl    );

            li{
                color: var(--color-secondary);
                list-style-type: none;
                text-align: left;
                display: flex;
                flex-direction: row;
                width: 80%;
                font-size: var(--font-size-sm);
                margin-top: var(--spacing-lg);
                font-weight: 700;
                cursor: pointer;

                img{
                    color: var(--color-secondary);
                    margin-right: var(--spacing-sm);
                }
            }
        }
    }
}

.home-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;

}

.header-profile{
    padding: 2rem 4rem 2rem 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    h1{
        font-size: var(--font-size-md);
    }

    .botton-nuevaOrden{
        all: unset;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra en la parte inferior */
        background-color: var(--background-color-2);
        color: var(--color-secondary);
        padding: var(--spacing-sm);
        border-radius: 0.4rem;
    }
}

