.containerOrdenes{
    width: 100%;
    height: 100%;
    padding: 2rem 4rem 2rem 4rem;
    background-color: rgba(5, 5, 5, 0.052);

    .header-ordenes{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        

        .search-container{
            background-color: var(--background-color-2);
            width: 30%;
            border-radius: 1rem;
            justify-content: center;
            align-items: center;
            padding: var(--spacing-md);
        }
    }
}


.ordenes-container{
    margin-top: var(--spacing-xl);


    .ordenes-table{
        width: 100%;
        padding: var(--spacing-md);
        background-color: var(--background-color-1);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);

        th{
            text-align: left;
        }

        tbody{
            td{
                padding: var(--spacing-sm);
            }
        }

      
    }

    .vendido{
        padding: var(--spacing-sm);
        width: 100%;
        background-color: green;
        border-radius: 1rem;
        color: var(--color-secondary);
        font-weight: 700;
        text-align: center;
        margin-top: var(--spacing-sm);
    }

    .negociación{
        padding: var(--spacing-sm);
        background-color: #0096d2;
        border-radius: 1rem;
        color: var(--color-secondary);
        font-weight: 700;
        text-align: center;
        margin-top: var(--spacing-sm);

    }

    .presupuesto{
        background-color: #ff6961;
        border-radius: 1rem;
        color: var(--color-secondary);
        font-weight: 700;
        text-align: center;
        margin-top: var(--spacing-sm);

    }

    .pagination{
        margin-top: var(--spacing-xl);
        button{
            background-color: var(--background-color-1);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
            padding: var(--spacing-sm);
            margin-right: var(--spacing-sm);
        }
    }

    .reload{
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        margin-bottom: var(--spacing-xl);
        div{
            width: 15%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            img{
                width: 15%;
                cursor: pointer;
            }

        }
    }
}

.container-buscador{
    width: 100%;
    input{
        all: unset; 
        background-color: var(--background-color-1);
        padding: var(--spacing-md);
        width: 100%;
        border-radius: 0.4rem;
    }

    .dropdown-buscador{
        all: unset;
        display: flex;
        flex-direction: column;
        list-style: none;
        background-color: var(--background-color-1);
        width: 100%;
        border-radius: 0.4rem;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        padding: var(--spacing-md);

        li{
            border-bottom: 1px #000 solid;
            padding: var(--spacing-md);
        }
    }
}

.tb-padding{
    padding: var(--spacing-md);    
}

.tb-padding-border{
    border: 1px solid #000;
}
.ordenes-container{
    tr:hover{
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    
    }
    
}

.no-hover{
    box-shadow: none !important;
}