.containerCheckin{
    padding: var(--spacing-xl);
}

.car-container{
    background-color: rgba(0, 0, 0, 0.07);
    padding: var(--spacing-xxl);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra en la parte inferior */

    .column{
        width: 46%;

        .title{
            font-size: var(--font-size-mxxl);
        }
        .info-car{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: var(--spacing-md);
            div{
                margin-top: var(--spacing-lg);
                h3{
                    font-weight: 400;
                    font-size: var(--font-size-xl);
                }

                p{
                    margin-top: var(--spacing-sm);
                    font-weight: 700;
                }
            }

            .row-1{
                width: 45%;
            }

            .row-2{
                width: 45%;
            }

        }
        
        .container-toggle{
            width: 100%;
            display: flex;
            justify-content: flex-start;

            button{
                all: unset;
                background-color: #000;
                padding: 1rem 2rem 1rem 2rem;
                border-radius: 0.4rem;
                color: #fff;
                img{
                    margin-left: var(--spacing-md);
                }
            }
        }

        .container-car{
            width: 100%;
            margin-top: var(--spacing-xl);
            img{
                width: 100%;
            }
        }
    
    
    
    }

}