.check-tecnico-container{
  width: 100%;
  padding: var(--spacing-xxl);
  padding-top: 0;
  // Container Check
 .container-check-main{
 
  width: 100%;


    // Container Forms
    .container-forms{
      background-color: var(--background-color-1);
      border: 0.1rem solid #d9d9d9;
      width: 100%;
      border-radius: 0.5rem;
      padding: var(--spacing-xl);
      margin-bottom: var(--spacing-lg);
      .container-form{
        width: 100%;
        .container-title{
          h1{
            font-size: var(--font-size-xl);
          }
        }

        .container-inputs{
          margin-top: var(--spacing-md);
          display: flex;
          flex-direction: column;
          .input-check{
            width: 30%;
            // Title
            .title{
              display: flex;
              align-items: center;
              img{
                width: 5%;
              }
              h1{
                font-size: var(--font-size-lg);
              }

            }

            .container-cube-check{
              height: 10vw;
              // Container Check
              .container-check{
                margin-top: var(--spacing-sm);
                height: 100%;
                background-color: rgba(217, 217, 217, 0.2);
                padding: var(--spacing-md);
                border-radius: 0.5rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
              
        
                // Input Text
                .input-text{
                  height: 100%;
                  width: 60%;
                  p{
                    font-size: var(--font-size-lg);
                  }
                  input{
                    background-color: var(--background-color-1);
                    border-radius: 0.2rem;
                    margin-top: var(--spacing-sm);
                    width: 100%;
                    padding: var(--spacing-sm);
                    border: 0.1rem solid rgba(0,0,0,0.2);
                  }
                }

                // Semaforo

                .container-semaforo{
                  width: 70%;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  margin-top: var(--spacing-md);
                  img{
                    width: 20%;
                    cursor: pointer;
                  }
                }
              }
              // Container Cantidad
              .container-cantidad{
                height: 100%;
                width: 25%;
                display: flex;
                align-items: center;
                flex-direction: column;
                p{
                  font-size: var(--font-size-lg);
                  text-align: center;
                  width: 100%;
                }
                input{
                  background-color: var(--background-color-1);
                  margin-top: var(--spacing-sm);
                  border-radius: 0.2rem;
                  padding: var(--spacing-sm);
                  width: 70%;
                  border: 0.1rem solid rgba(0,0,0,0.2);

                }
              }

              // Container Add

              .container-add{
                width: 10%;
                img{
                  width: 100%;
                  cursor: pointer;
                }
              }
            }
          }

          .row-inputs{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: var(--spacing-lg);
          }
        }
      }
    }


 }

 .container-check-button{
    width: 100%;
    display: flex;
    justify-content:flex-end;
    button{
      all: unset;
      cursor: pointer;
      background-color: var(--background-color-2);
      color: var(--color-secondary);
      padding: var(--spacing-sm);
      width: 10%;
      font-size: var(--font-size-md);
      text-align: center;
      border-radius: 0.5rem;
    }
 }
}