@charset "UTF-8";
.main-container {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-xl);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  color: var(--color-primary);
  background-color: var(--background-color-2);
}
.login-container form {
  margin-top: var(--spacing-xxl);
}
.login-container form .input-group {
  background-color: rgba(255, 255, 255, 0.02);
  border-radius: 1rem;
  margin-bottom: var(--spacing-md);
  padding: var(--spacing-md);
}
.login-container form .input-group label {
  color: rgba(255, 255, 255, 0.2);
}
.login-container form .input-group input {
  background: none;
  border: none;
  color: var(--color-secondary);
  padding: var(--spacing-sm);
  margin-left: var(--spacing-sm);
}
.login-container form .input-group input:focus {
  outline: none;
}
.login-container .container-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-container .container-logo img {
  width: 50%;
}
.login-container .title-forms {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--spacing-xl);
  flex-direction: column;
}
.login-container .title-forms h3 {
  color: var(--color-secondary);
  font-weight: 400;
  font-size: var(--font-size-xxl);
}
.login-container .icon-home {
  color: var(--color-secondary);
}
.login-container .container-icon {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.login-container .container-icon img {
  width: 3%;
  margin-bottom: var(--spacing-md);
}

.button-login {
  width: 100% !important;
  margin-top: var(--spacing-xl) !important;
  color: var(--color-primary) !important;
  font-weight: 600;
  border-radius: 1rem !important;
}

.background-login {
  display: flex;
  width: 70%;
  flex: 1;
  background-image: url("/img/background/background-login.jpg");
  background-size: cover;
  background-position: center;
}

/* CSS */
.button-30 {
  align-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.container-home {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.nav-bar-home {
  width: 15%;
  min-height: 100vh;
  padding: var(--spacing-sm);
  background-color: var(--background-color-2);
}
.nav-bar-home .container-image {
  width: 100%;
  margin-top: var(--spacing-md);
}
.nav-bar-home .container-image img {
  width: 100%;
}
.nav-bar-home .container-nav {
  color: var(--color-secondary);
}
.nav-bar-home .container-nav ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--spacing-xl);
}
.nav-bar-home .container-nav ul li {
  color: var(--color-secondary);
  list-style-type: none;
  text-align: left;
  display: flex;
  flex-direction: row;
  width: 80%;
  font-size: var(--font-size-sm);
  margin-top: var(--spacing-lg);
  font-weight: 700;
  cursor: pointer;
}
.nav-bar-home .container-nav ul li img {
  color: var(--color-secondary);
  margin-right: var(--spacing-sm);
}

.home-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.header-profile {
  padding: 2rem 4rem 0rem 4rem;
}
.header-profile h1 {
  font-size: var(--font-size-md);
}

.containerOrdenes {
  width: 100%;
  height: 100%;
  padding: 2rem 4rem 2rem 4rem;
  background-color: rgba(5, 5, 5, 0.052);
}
.containerOrdenes .header-ordenes {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.containerOrdenes .header-ordenes .search-container {
  background-color: var(--background-color-2);
  width: 30%;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-md);
}

.ordenes-container {
  margin-top: var(--spacing-xl);
}
.ordenes-container .ordenes-table {
  width: 100%;
  padding: var(--spacing-md);
  background-color: var(--background-color-1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}
.ordenes-container .ordenes-table th {
  text-align: left;
}
.ordenes-container .ordenes-table tbody td {
  padding: var(--spacing-sm);
}
.ordenes-container .vendido {
  padding: var(--spacing-sm);
  width: 100%;
  background-color: green;
  border-radius: 1rem;
  color: var(--color-secondary);
  font-weight: 700;
  text-align: center;
  margin-top: var(--spacing-sm);
}
.ordenes-container .negociación {
  padding: var(--spacing-sm);
  background-color: #0096d2;
  border-radius: 1rem;
  color: var(--color-secondary);
  font-weight: 700;
  text-align: center;
  margin-top: var(--spacing-sm);
}
.ordenes-container .presupuesto {
  background-color: #ff6961;
  border-radius: 1rem;
  color: var(--color-secondary);
  font-weight: 700;
  text-align: center;
  margin-top: var(--spacing-sm);
}
.ordenes-container .pagination {
  margin-top: var(--spacing-xl);
}
.ordenes-container .pagination button {
  background-color: var(--background-color-1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  padding: var(--spacing-sm);
  margin-right: var(--spacing-sm);
}
.ordenes-container .reload {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  margin-bottom: var(--spacing-xl);
}
.ordenes-container .reload div {
  width: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.ordenes-container .reload div img {
  width: 15%;
  cursor: pointer;
}

.tb-padding {
  padding: var(--spacing-md);
}

.tb-padding-border {
  border: 1px solid #000;
}

tr:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.no-hover {
  box-shadow: none !important;
}

.order-details {
  padding: 2rem 4rem 2rem 4rem;
}

.order-title {
  width: 100%;
  margin-bottom: var(--spacing-lg);
}
.order-title h2 {
  font-size: var(--font-size-xxl);
  color: var(--color-primary);
}
.order-title h2 span {
  font-weight: 400;
}

.subtitle {
  margin-bottom: var(--spacing-xl);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.subtitle h3 {
  color: var(--color-primary);
  font-size: var(--font-size-xl);
}
.subtitle .container-print {
  width: 15%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.subtitle img {
  width: 100%;
}

.container-orden {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: var(--color-primary);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  padding: var(--spacing-lg);
}
.container-orden .presupuesto-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container-orden .presupuesto-container div p {
  color: var(--color-primary);
  padding: var(--spacing-sm);
}
.container-orden .row-client {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container-orden .row-client p {
  margin-right: var(--spacing-xl);
  margin-bottom: var(--spacing-md);
}
.container-orden .row-client .nombre-cliente {
  font-weight: 600;
}
.container-orden .precio-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.container-productos {
  margin-top: var(--spacing-xl);
}

.table-order {
  width: 100%;
}
.table-order tr {
  margin-top: var(--spacing-lg);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.producto-boton {
  margin-top: var(--spacing-xxl);
  padding: 2rem 1rem 2rem 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
}

.producto-abonar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: var(--spacing-lg);
}
.producto-abonar p {
  font-weight: 700;
}/*# sourceMappingURL=style.css.map */