@charset "UTF-8";
.main-container {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-xl);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  color: var(--color-primary);
  background-color: var(--background-color-2);
}
.login-container form {
  margin-top: var(--spacing-xxl);
}
.login-container form .input-group {
  background-color: rgba(255, 255, 255, 0.02);
  border-radius: 1rem;
  margin-bottom: var(--spacing-md);
  padding: var(--spacing-md);
}
.login-container form .input-group label {
  color: rgba(255, 255, 255, 0.2);
}
.login-container form .input-group input {
  background: none;
  border: none;
  color: var(--color-secondary);
  padding: var(--spacing-sm);
  margin-left: var(--spacing-sm);
}
.login-container form .input-group input:focus {
  outline: none;
}
.login-container .container-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-container .container-logo img {
  width: 50%;
}
.login-container .title-forms {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--spacing-xl);
  flex-direction: column;
}
.login-container .title-forms h3 {
  color: var(--color-secondary);
  font-weight: 400;
  font-size: var(--font-size-xxl);
}
.login-container .icon-home {
  color: var(--color-secondary);
}
.login-container .container-icon {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.login-container .container-icon img {
  width: 3%;
  margin-bottom: var(--spacing-md);
}

.button-login {
  width: 100% !important;
  margin-top: var(--spacing-xl) !important;
  color: var(--color-primary) !important;
  font-weight: 600;
  border-radius: 1rem !important;
}

.background-login {
  display: flex;
  width: 70%;
  flex: 1;
  background-image: url("/img/background/background-login.jpg");
  background-size: cover;
  background-position: center;
}

/* CSS */
.button-30 {
  align-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.container-home {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh; /* Asegura que el contenedor padre tenga una altura definida */
}

.nav-bar-home {
  width: 15%;
  min-height: 100vh;
  padding: var(--spacing-sm);
  background-color: var(--background-color-2);
}
.nav-bar-home .container-image {
  width: 100%;
  margin-top: var(--spacing-md);
}
.nav-bar-home .container-image img {
  width: 100%;
}
.nav-bar-home .container-nav {
  color: var(--color-secondary);
}
.nav-bar-home .container-nav ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--spacing-xl);
}
.nav-bar-home .container-nav ul li {
  color: var(--color-secondary);
  list-style-type: none;
  text-align: left;
  display: flex;
  flex-direction: row;
  width: 80%;
  font-size: var(--font-size-sm);
  margin-top: var(--spacing-lg);
  font-weight: 700;
  cursor: pointer;
}
.nav-bar-home .container-nav ul li img {
  color: var(--color-secondary);
  margin-right: var(--spacing-sm);
}

.home-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.header-profile {
  padding: 2rem 4rem 2rem 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-profile h1 {
  font-size: var(--font-size-md);
}
.header-profile .botton-nuevaOrden {
  all: unset;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra en la parte inferior */
  background-color: var(--background-color-2);
  color: var(--color-secondary);
  padding: var(--spacing-sm);
  border-radius: 0.4rem;
}

.containerOrdenes {
  width: 100%;
  height: 100%;
  padding: 2rem 4rem 2rem 4rem;
  background-color: rgba(5, 5, 5, 0.052);
}
.containerOrdenes .header-ordenes {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.containerOrdenes .header-ordenes .search-container {
  background-color: var(--background-color-2);
  width: 30%;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-md);
}

.ordenes-container {
  margin-top: var(--spacing-xl);
}
.ordenes-container .ordenes-table {
  width: 100%;
  padding: var(--spacing-md);
  background-color: var(--background-color-1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}
.ordenes-container .ordenes-table th {
  text-align: left;
}
.ordenes-container .ordenes-table tbody td {
  padding: var(--spacing-sm);
}
.ordenes-container .vendido {
  padding: var(--spacing-sm);
  width: 100%;
  background-color: green;
  border-radius: 1rem;
  color: var(--color-secondary);
  font-weight: 700;
  text-align: center;
  margin-top: var(--spacing-sm);
}
.ordenes-container .negociación {
  padding: var(--spacing-sm);
  background-color: #0096d2;
  border-radius: 1rem;
  color: var(--color-secondary);
  font-weight: 700;
  text-align: center;
  margin-top: var(--spacing-sm);
}
.ordenes-container .presupuesto {
  background-color: #ff6961;
  border-radius: 1rem;
  color: var(--color-secondary);
  font-weight: 700;
  text-align: center;
  margin-top: var(--spacing-sm);
}
.ordenes-container .pagination {
  margin-top: var(--spacing-xl);
}
.ordenes-container .pagination button {
  background-color: var(--background-color-1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  padding: var(--spacing-sm);
  margin-right: var(--spacing-sm);
}
.ordenes-container .reload {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  margin-bottom: var(--spacing-xl);
}
.ordenes-container .reload div {
  width: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.ordenes-container .reload div img {
  width: 15%;
  cursor: pointer;
}

.tb-padding {
  padding: var(--spacing-md);
}

.tb-padding-border {
  border: 1px solid #000;
}

tr:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.no-hover {
  box-shadow: none !important;
}

.order-details {
  padding: 2rem 4rem 2rem 4rem;
}

.order-title {
  width: 100%;
  margin-bottom: var(--spacing-lg);
}
.order-title h2 {
  font-size: var(--font-size-xxl);
  color: var(--color-primary);
}
.order-title h2 span {
  font-weight: 400;
}

.subtitle {
  margin-bottom: var(--spacing-sm);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.subtitle h3 {
  color: var(--color-primary);
  font-size: var(--font-size-xl);
  margin-right: var(--spacing-md);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
  align-items: center;
}
.subtitle input {
  background-color: #ffffff; /* Fondo blanco */
  color: #000000; /* Texto en negro */
  border: 1px solid #000000; /* Borde en negro */
  padding: 0.5rem; /* Espaciado interno */
  border-radius: 0.25rem; /* Bordes redondeados */
  font-family: Arial, sans-serif; /* Fuente */
  font-size: 1rem; /* Tamaño de fuente */
  /* Estilos para los elementos del calendario */
}
.subtitle input::-webkit-calendar-picker-indicator {
  filter: invert(1); /* Icono del calendario en negro */
}
.subtitle input::-webkit-inner-spin-button, .subtitle input::-webkit-clear-button {
  display: none; /* Ocultar botones de limpieza y spin */
}
.subtitle input:focus {
  outline: none; /* Quitar el borde de enfoque */
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2); /* Sombra en el enfoque */
}
.subtitle .container-print {
  width: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.subtitle img {
  width: 100%;
}
.subtitle .save-container {
  width: 15%;
}

.container-orden {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: var(--color-primary);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  padding: var(--spacing-lg);
}
.container-orden .presupuesto-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.container-orden .presupuesto-container div p {
  color: var(--color-primary);
  padding: var(--spacing-sm);
}
.container-orden .row-client {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: var(--spacing-md);
  justify-content: space-between;
}
.container-orden .row-client .column-client {
  width: 50%;
  display: flex;
  flex-direction: row;
}
.container-orden .row-client .column-client .input-two {
  width: 50%;
}
.container-orden .row-client .span-client {
  font-weight: 700;
}
.container-orden .row-client select {
  all: unset;
}
.container-orden .row-client .nombre-cliente {
  font-weight: 600;
}
.container-orden .row-client input {
  all: unset;
  background: none;
  border: none;
  font-family: var(--font-primary);
  font-family: var(--font-size-xl);
}
.container-orden .precio-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.checks-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.checks-container .link {
  cursor: pointer;
  padding: var(--spacing-sm);
  border-radius: 0.5rem;
  margin-top: var(--spacing-md);
}
.checks-container .link p {
  color: #000;
  font-weight: 600;
}

.container-productos {
  margin-top: var(--spacing-xl);
}

.table-order {
  width: 100%;
}
.table-order tr {
  margin-top: var(--spacing-lg);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.producto-boton {
  margin-top: var(--spacing-xxl);
  padding: 2rem 1rem 2rem 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
}

.producto-abonar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: var(--spacing-lg);
}
.producto-abonar p {
  font-weight: 700;
}

.table-order td {
  word-wrap: break-word !important;
  overflow-wrap: break-word;
  width: 15%;
}
.table-order th {
  width: 15%;
  text-align: left;
}

.containerCheckin {
  padding: var(--spacing-xl);
}

.car-container {
  background-color: rgba(0, 0, 0, 0.07);
  padding: var(--spacing-xxl);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra en la parte inferior */
}
.car-container .column {
  width: 46%;
}
.car-container .column .title {
  font-size: var(--font-size-mxxl);
}
.car-container .column .info-car {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: var(--spacing-md);
}
.car-container .column .info-car div {
  margin-top: var(--spacing-lg);
}
.car-container .column .info-car div h3 {
  font-weight: 400;
  font-size: var(--font-size-xl);
}
.car-container .column .info-car div p {
  margin-top: var(--spacing-sm);
  font-weight: 700;
}
.car-container .column .info-car .row-1 {
  width: 45%;
}
.car-container .column .info-car .row-2 {
  width: 45%;
}
.car-container .column .container-toggle {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.car-container .column .container-toggle button {
  all: unset;
  background-color: #000;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 0.4rem;
  color: #fff;
}
.car-container .column .container-toggle button img {
  margin-left: var(--spacing-md);
}
.car-container .column .container-car {
  width: 100%;
  margin-top: var(--spacing-xl);
}
.car-container .column .container-car img {
  width: 100%;
}

.recomendaciones-container {
  width: 100%;
}
.recomendaciones-container .container-table {
  width: 65%;
  padding: var(--spacing-lg);
  margin-top: var(--spacing-lg);
  display: flex;
  border-radius: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.07);
}
.recomendaciones-container .container-table .title-table p {
  font-weight: 700;
  font-size: var(--font-size-xl);
}
.recomendaciones-container .container-table .row {
  margin-top: var(--font-size-sm);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.recomendaciones-container .container-table .row .r-1 {
  width: 36%;
}
.recomendaciones-container .container-table .row .r-2, .recomendaciones-container .container-table .row .r-4, .recomendaciones-container .container-table .row .r-3 {
  width: 15%;
}
.recomendaciones-container .container-table .row .r-5 {
  width: 15%;
}

.success-recomendaciones {
  color: #fff !important;
  background-color: #219C4B;
  padding: var(--spacing-sm);
  border-radius: 0.5rem;
  width: 80%;
  text-align: center;
}

.modalProduct {
  position: fixed;
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  z-index: 1000;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.4rem;
}
.modalProduct .name-product {
  margin-top: var(--spacing-lg);
  margin-bottom: var(--spacing-lg);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.modalProduct .name-product label {
  width: 45%;
}
.modalProduct .name-product input {
  all: unset;
  border-bottom: 1px #000 solid;
}
.modalProduct .precio-cantidad {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: var(--spacing-lg);
}
.modalProduct .precio-cantidad label {
  width: 45%;
}
.modalProduct .precio-cantidad input {
  all: unset;
  border-bottom: 1px #000 solid;
}
.modalProduct .cantidad {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: var(--spacing-lg);
}
.modalProduct .cantidad label {
  width: 45%;
}
.modalProduct .cantidad input {
  all: unset;
  border-bottom: 1px #000 solid;
}
.modalProduct .desgloce {
  margin-top: var(--spacing-md);
}
.modalProduct .desgloce p {
  margin-bottom: var(--spacing-sm);
}
.modalProduct .modal-actions {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.modalProduct .modal-actions button {
  all: unset;
  background-color: #000;
  border-radius: 0.4rem;
  padding: 1rem 2rem 1rem 2rem;
  color: #fff;
}

.modalAbonar {
  position: fixed;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  z-index: 1000;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.4rem;
}
.modalAbonar label {
  width: 45%;
}
.modalAbonar input {
  all: unset;
  border-bottom: 1px #000 solid;
}
.modalAbonar button {
  all: unset;
  background-color: #000;
  border-radius: 0.4rem;
  padding: 1rem 2rem 1rem 2rem;
  color: #fff;
}
.modalAbonar .modal-actions {
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  margin-top: var(--spacing-xxl);
}
.modalAbonar .product-item {
  display: flex;
  flex-direction: row;
  margin-top: var(--spacing-lg);
  align-items: center;
  justify-content: space-between;
}
.modalAbonar .nuevo-abono {
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: space-between;
  margin-top: var(--spacing-xl);
}
.modalAbonar .nuevo-abono input {
  margin-bottom: var(--spacing-md);
}
.modalAbonar .abonos-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: var(--spacing-lg);
  margin-bottom: var(--spacing-lg);
}

.content {
  display: block;
}

.main-blur {
  filter: blur(5px);
  transition: filter 0.3s ease;
}

.suggestions-list {
  list-style-type: none;
  padding: 0;
  margin: 5px 0 0 0;
  border: 1px solid #ccc;
  max-height: 400px;
  overflow-y: auto;
  background-color: #fff;
  position: absolute;
  z-index: 1000;
  right: 0; /* Mover a la derecha */
  left: auto; /* Asegurar que no esté alineado a la izquierda */
  right: -30%;
  top: 100%;
  width: 70%;
}

.suggestions-list li {
  padding: 8px;
  cursor: pointer;
}

.suggestions-list li:hover {
  background-color: #f0f0f0;
}

.name-product {
  position: relative;
}

.order-details-new {
  /* Estilo para la superposición del modal (fondo oscuro) */
  /* Contenedor principal del modal */
  /* Header del modal (parte superior con título y botón de cerrar) */
  /* Cuerpo del modal (contenido principal) */
  /* Footer del modal (botones de acción) */
  /* Clase para el desenfoque de la sección de fondo */
  /* Opcional: estilos para cuando el modal se cierra */
}
.order-details-new .modal-client-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Asegurar que el modal esté por encima de otros elementos */
}
.order-details-new .modal-client {
  background-color: #fff;
  width: 60%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  position: relative;
}
.order-details-new .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.order-details-new .modal-header h3 {
  font-size: 18px;
  margin: 0;
}
.order-details-new .modal-header svg {
  cursor: pointer;
  color: #555;
  font-size: 18px;
}
.order-details-new .modal-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  color: #333;
}
.order-details-new .modal-body input {
  all: unset;
  border: 2px solid #000;
  margin-top: var(--spacing-sm);
  border-radius: 0.4rem;
  margin-bottom: var(--spacing-lg);
  padding: var(--spacing-sm);
}
.order-details-new .modal-footer {
  text-align: right;
}
.order-details-new .modal-footer button {
  background-color: var(--background-color-2);
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.order-details-new .modal-footer button:hover {
  background-color: #0056b3;
}
.order-details-new .main-blur {
  filter: blur(5px); /* Efecto de desenfoque */
  pointer-events: none; /* Desactivar la interacción mientras el modal esté abierto */
}
.order-details-new .modal-close {
  display: none;
}

.order-details-new {
  padding: var(--spacing-xxl);
  padding-top: 0;
  flex: 1;
}
.order-details-new .title-order {
  width: 100%;
}
.order-details-new .title-order h3 {
  font-size: var(--font-size-xxl);
  font-weight: 600;
}
.order-details-new .container-crud {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: var(--spacing-lg);
  height: 96%;
}
.order-details-new .user-asignado {
  width: 30%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra en la parte inferior */
  padding: var(--spacing-md);
}
.order-details-new .user-asignado .title-new {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order-details-new .user-asignado .title-new p {
  font-weight: 600;
}
.order-details-new .user-asignado .container-usuario-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: var(--spacing-md);
}
.order-details-new .user-asignado .container-usuario-info h3 {
  margin-top: var(--spacing-md);
}
.order-details-new .user-asignado .row-cellphone {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: var(--spacing-xl);
  width: 50%;
}
.order-details-new .user-asignado .row-cellphone p {
  font-weight: 600;
}
.order-details-new .user-asignado .row-email {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: var(--spacing-lg);
  width: 90%;
}
.order-details-new .user-asignado .row-email p {
  font-size: var(--font-size-sm);
}
.order-details-new .user-no-asignado {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--spacing-md);
  width: 30%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra en la parte inferior */
}
.order-details-new .user-no-asignado .input-client input {
  all: unset;
  border: 2px solid #000;
  border-radius: 0.4rem;
  margin-top: var(--font-size-sm);
  width: 86%;
  padding: var(--spacing-sm);
}
.order-details-new .user-no-asignado .button-container {
  display: flex;
  justify-content: flex-end;
}
.order-details-new .user-no-asignado .button-container button {
  all: unset;
  background-color: var(--background-color-2);
  color: var(--color-secondary);
  padding: 0.5rem 0.6rem 0.5rem 0.6rem;
  border-radius: 0.4rem;
}
.order-details-new .car-container-new {
  width: 69%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra en la parte inferior */
  padding: var(--spacing-xl);
}
.order-details-new .car-container-new .title-new {
  width: 100%;
  margin-bottom: var(--spacing-lg);
}
.order-details-new .car-container-new .title-new p {
  font-weight: 500;
}
.order-details-new .car-container-new .row-forms {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--spacing-lg);
}
.order-details-new .car-container-new .input {
  width: 47%;
  display: flex;
  flex-direction: column;
}
.order-details-new .car-container-new .input p {
  font-weight: 400;
}
.order-details-new .car-container-new .input input {
  all: unset;
  border: 2px solid #000;
  border-radius: 0.4rem;
  margin-top: var(--spacing-sm);
  padding: var(--spacing-sm);
}
.order-details-new .car-container-new .container-placa {
  display: flex;
  width: 100%;
  align-items: center;
}
.order-details-new .car-container-new .container-placa .placa {
  width: 30%;
}
.order-details-new .car-container-new .container-placa .placa p {
  margin-bottom: var(--font-size-sm);
}
.order-details-new .car-container-new .container-placa .placa input {
  all: unset;
  border: 2px solid #000;
  border-radius: 0.4rem;
  padding: var(--spacing-md);
  font-weight: 700;
}
.order-details-new .car-container-new .container-button {
  display: flex;
  justify-content: flex-end;
}
.order-details-new .car-container-new .container-button .new-order {
  all: unset;
  background-color: var(--background-color-2);
  color: var(--color-secondary);
  border-radius: 0.4rem;
  padding: 0.6rem 2rem 0.6rem 2rem;
}

.client-results {
  width: 100%;
  list-style-type: none;
  margin-top: var(--spacing-sm);
  background-color: var(--background-color-2);
  border-radius: 0.4rem;
  padding: var(--spacing-sm);
}
.client-results li {
  border-top: 1px solid #fff;
  padding: var(--spacing-sm);
  color: var(--color-secondary);
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */